*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(28, 28, 28);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#ae05ec,#0f0fd1);
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 40px;
    text-align: center;
    border-radius: 20px;
    .search{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input{
            outline: 0;
            border: 2px solid black;
            background: #ffffff;
            border-radius: 30px;
            padding: 10px 25px;
            flex: 1;
            height: 70px;
            font-size: 20px;
            color: black;
            transition-duration: 3s;
        }
        input:hover{
            background: rgb(159, 68, 244);
            filter: sepia(10%) hue-rotate(50deg);
        }
        button{
            margin: 0 10px;
            border: 0;
            outline: 0;
            width: 50px;
            height: 50px;
            background: white;
            border-radius: 20px;
            cursor: pointer;
            border: 2px solid black;
            transition-duration: 1s;
        }
        button:hover{
            background:black;
        }
        #img1{
            width: 40px;
            height: 40px;
        }
    }
    .error-name{
        text-align: center;
        margin-top: 10px;
        margin-right: 30px;
    }
    .weather{
        /* display: none; */
        .weather-icon{
            margin: 30px auto;
            border-radius: 20px;
            width: 50%;
            height: 50%;
            border: 2px solid black;
            filter: contrast(100deg) ;
            transition-duration: 1s;
        }
        .weather-icon:hover{
            filter: sepia(50%) hue-rotate(100deg);
        }
        h2{
            margin-top: 5px;
            font-size: 30px;
        }
    }
    .detail{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 50px;
        transition-duration: 1s;
        .col{
            display: flex;
            align-content: center;
            text-align: left;
            transition-duration: 1s;
            .humidity-img{
                width: 55px;
                margin-right: 10px;
                background: white;
                border-radius: 20px;
                border: 3px solid black;
                /* filter: sepia(90%) hue-rotate(50deg); */
            }
            .wind-img{
                width: 60px;
                margin-right: 10px;
                background: white;
                border-radius: 20px;
                border: 3px solid black;
                /* filter: sepia(50%) hue-rotate(100deg); */
            }
            .text-humidity{
                margin-top: 10px;
                font-size: 20px;
                transition-duration: 1s;
            }
            .text-humidity:hover{
                color: red;
            }
            .text-Wind{
                margin-top: 10px;
                font-size: 20px;
                transition-duration: 1s;
            }
            .text-Wind:hover{
                color: red;
            }
        }
        .col:hover{
            filter: sepia(50%) hue-rotate(100deg);
        }
    }
}
